.nav {
    grid-area: menu;
    background-color: rgb(163, 107, 163);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
}

.item a {
    display: block;
    background-color: #8a245c;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.item a.activeLink {
    background-color: #000;
}