.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "menu profile";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
}

.content {
  background-color: aqua;
}